$button-color: #FF8D40;
$button-hover-color: #BF6A30;
$input-border: black;
$highlight-color: #FA7080;
$main-border: 4px solid #A64300;
$border-radius: 5px;
$higlight-correct: #34D0B6;

*{
  box-sizing: border-box;
}

header {
  positon: relative;
  text-align: center;
}
nav {
  display: inline-block;
  position: absolute;
  left: 10px;
  top: 10px;
  a {
    padding: 10px;
  }
}

h2 {
  
  display: inline-block;
  padding: 5px;
  /*border: 1px solid black;  */
}

main {
  margin: 10px;
  text-align: center;
}

input  {
  font-size: 1.2em;
  text-align: center;
  -webkit-appearance: none;
  width: 80%;
  padding: 10px;
  background: white;
  border: 1px solid $input-border;
  display: block;
  margin: 10px auto;
  &:after{
     content:"\000A";
    white-space: pre;
  };
}

input[type="submit"]{
  cursor: pointer;
  border: none;
  background: $button-color;
  &:hover {
    background: $button-hover-color;
  }
}

select {
  font-size: 1.2em;
  text-align: center;
  width: 80%;
  display: block;
  margin: 10px auto;
  padding:9px;
  border-radius:4px;
  -webkit-box-shadow: 
      0 0px 0 #ccc,
      0 0px #fff inset;
  background: url('http://i45.tinypic.com/309nb74.png') no-repeat right, -moz-linear-gradient(top, #FBFBFB 0%, #E9E9E9 100%);
  background: url('http://i45.tinypic.com/309nb74.png') no-repeat right, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FBFBFB), color-stop(100%,#E9E9E9));
  color:black;
  border:none;
  outline:none;
  -webkit-appearance:none; 
  cursor:pointer;
  border: 1px solid #ccc;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

li {

}

.answers {
  display: inline-block;
  width: 300px;
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  text-align: justify;
  li {
    cursor: pointer;
    text-align: center;
    width: 300px;
    padding: 10px;
    background: $button-color;
    border: 5px solid $button-color;
    margin: 5px 0;
  }
}

li.highlighted {
  background: $button-hover-color;
  border: 5px solid black;
}

li.highlighted_correct {
 background: $higlight-correct;
}

.highlight-message {
  display: block;
  font-size: 1.2em;
  width: 300px;
  padding: 5px;
  margin: 10px auto;
  background: #FA3E54;
  color: white;
}
.question {
  width: 300px;
  margin: 0 auto;
  text-align: justify;
  /*border: 1px solid black;*/
  padding: 5px;
  font-size: 1.2em;
  font-weight: bold;

}
.quiz_button{
  font-size: 1.2em;
  display: block;
  text-decoration: none;
  background: $button-color;
  color: black;
  padding: 10px;
  width: 300px;
  /*border: 1px solid black;*/
  margin: 5px auto;
  cursor: pointer;
  text-align: center;
  &:hover {
    background: $button-hover-color;
  }
}

.in {
  display: inline-block;
}
.left-box, .right-box{
  padding: 10px 5px;
  display: inline-block;
  width: 30%;
  margin: 5px;
  vertical-align: top;
  border: $main-border;
  border-radius: $border-radius;
}

table {
  table-layout: fixed;
  width: 100%;
  tr{
    vertical-align: top;
    &:nth-child(2n-1) {
      background: $highlight-color;
    }
    th {
      font-weight: bold;
    }
    td, th {
      overflow: hidden;
    }
    td:first-child, th:first-child {
      text-align: right;
      padding: 5px;
      width: 50%;

      }
    td:nth-child(2), th:nth-child(2) {
      text-align: left;
      width: 50%;
      padding: 5px;
      }
    }
}

