extends layout

block content
  div(ng-app="quizApp")
    div(ng-controller="CreateQuizController")
      div(class="left-box")
        h3 Choose Parameters
        form(ng-submit="createQuiz()")
          label Availiable data
          select(name="collection" ng-model="new_quiz.collection" ng-change="getSampleData(new_quiz.collection)")
            for collection in collections
              option(value="#{collection}")= collection
          label Quiz Name
          input(ng-model="new_quiz.name")
          label Number of Questions
          input(type="number" ng-model="new_quiz.nos_questions")
          label Question to Ask
          input(type="text" ng-model="new_quiz.question_text")
          label Question Field
          select(name="question" ng-model="new_quiz.question_key")
            for key in keys
              option(value="#{key}")= key
          label Answer Field
          select(name="answer" ng-model="new_quiz.answer_key")
            for key in keys
              option(value="#{key}")= key
          input(type="submit" ng-hide="message" value="Create Quiz Template") 
          div(ng-show="message") 
            {{ message }}
            br
            a(href="/quiz" class="quiz_button") Play quiz on your own
            a(href="/quiz" class="quiz_button") Host multiplayer quiz

      div(class="right-box")      
        h3(ng-model="examplequestion") Example entry from data
        div(ng-hide="keys" class="highlight-message") Loading example data ...
        table(ng-show="keys")
          tr
            th Column Name
            th Description
            tr(ng-repeat="key in keys") 
              td  {{ key }}
              td  {{ example_data[key] }}
        




  //- script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
  script(src='../javascripts/lib/jquery/jquery-2.0.3.min.js')
  script(src='../javascripts/lib/angular/angular.js')
  script(src='../javascripts/lib/angular/angular-route.js')
  script(src='../javascripts/create-quiz-angular.js')       
    