extends layout

block content
  a(href="/auth/twitter") Sign in with twitter
  br
  a(href="/auth/facebook") Sign in with facebook
  br
  a(href="/quiz") Play a quiz on your own
  br
  a(href="/multi_quiz_host") Host a multiplayer quiz
  br
  a(href="/create_quiz") Create a quiz