doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/quiz.css')
  body
    header
      nav
        if currentuser
          a(href="/") Home
          span= currentuser.name
          a(href="/logout") Logout
        else
          a(href="/sign_in") Sign in
          a(href="/sign_up") Sign up
          a(href="/auth/twitter") Sign in with twitter
          a(href="/auth/facebook") Sign in with facebook
      h2= title
      p= flash_message
    main
      block content