extends layout

block content
  div(ng-app="quizApp")
    div(ng-controller="QuizController")
      p(id="quiz_id" ng-hide="true")= quiz_id 
      div(ng-hide="question" ng-click="getNextQuestion()") Click to start
      div(ng-show="question")
        div Question {{question_nos}} of {{quiz_params.nos_questions}} {{ quiz_params.question_text }}
        div {{ question }}
        ul(class="answers")
          li(ng-repeat="answer in answers" ng-click="submitAnswer($index)" ng-class="{highlighted: $index ==clicked , highlighted_correct: $index == correct} ")
            {{ answer }}
        
        div(ng-click="getNextQuestion()" ng-show="question_nos < quiz_params.nos_questions && shownext" class="quiz_button") Next question
        div Your score  {{ score }} 
        div {{message}}



  script(src='/javascripts/lib/jquery/jquery-2.0.3.min.js')
  script(src='/javascripts/lib/angular/angular.js')
  script(src='/javascripts/lib/angular/angular-route.js')
  script(src='/javascripts/quiz-angular.js')       
    