extends layout

block content
  div(ng-app="quizHostApp")
    div(ng-controller="MultiQuizController")
      p(id="quiz_id" ng-hide="true")= quiz_id 
      p link for contestants: http://localhost:3000/multi_quiz
      div(ng-hide="question" ng-click="getNextQuestion()" class="quiz_button") Click to start
      div(ng-show="question")
        div : {{message}}
        div {{ quiz_params.question_text }}
        div >> {{ question }}
        ul(class="answers")
          li(ng-repeat="answer in answers" ng-class="{highlighted: $index == clicked , highlighted_correct: answer == correct} ")
            {{ answer }}
        
        div(ng-click="getNextQuestion()" ng-show="question_nos < quiz_params.nos_questions && showNextQn" class="quiz_button") Next question
        div(ng-click="sendResults()" ng-hide="showNextQn" class="quiz_button") Send results
      ul Players involved
        li(ng-repeat="player in stats" ng-show="player.username") {{ player.username }} : {{player.score}} : {{player.message}}
        


  script(src="/socket.io/socket.io.js")
  script(src='/javascripts/lib/jquery/jquery-2.0.3.min.js')
  script(src='/javascripts/lib/angular/angular.js')
  script(src='/javascripts/lib/angular/angular-route.js')
  script(src='/javascripts/quiz-angular-host.js') 
  script(src='/javascripts/quiz-socket.js')       
    