extends layout

block content
  div(ng-app="quizApp")
    div(ng-controller="GenerateQuizController")
      div(class="left-box")
        h3 Existing Quiz Templates
        ul
          li(ng-repeat="quiz in existing_quizes")
            a(href="#" ng-click="showQuizTemplate(quiz)") {{ quiz.name }}
        div(ng-show="show_quiz_template")
          table(class="show_quiz_template")
            tr
              td Quiz name
              td {{ show_quiz_template.name }}
            tr
              td Number of questions
              td {{ show_quiz_template.nos_questions }}
            tr
              td Question
              td {{ show_quiz_template.question_text }}
            tr
              td Question Key 
              td {{ show_quiz_template.question_key }}
            tr
              td Answer Key 
              td {{ show_quiz_template.answer_key }}

                  
          div(href="#" ng-click="generateQuiz()" class="quiz_button") Generate New Questions
        if game_type == "single"  
          a(href="/quiz/{{ generated_quiz.id }}/play" ng-show="generated_quiz.msg" class="quiz_button") {{ generated_quiz.msg }}
        else 
          a(href="/multi_quiz_host/{{ generated_quiz.id }}" ng-show="generated_quiz.msg" class="quiz_button") {{ generated_quiz.msg }}

      div(class="right-box") 
        h3 Existing quizes for this template
        ul
          li(ng-repeat="quiz in quizes") 
            if game_type == "single"
              a(href="/quiz/{{ quiz }}/play") Quiz {{ $index + 1}}
            else 
              a(href="/multi_quiz_host/{{ quiz }}") Quiz {{ $index + 1}}



      




  script(src='../javascripts/lib/jquery/jquery-2.0.3.min.js')
  script(src='../javascripts/lib/angular/angular.js')
  script(src='../javascripts/lib/angular/angular-route.js')
  script(src='../javascripts/quiz-angular.js')       
    