extends layout

block content
  div(ng-app="quizApp")
    div(ng-controller="MultiQuizController")
      div(class="left-box")
        div(ng-hide="username")
          label Enter a name to be used in the quiz
          input(placeholder="Enter a username" ng-model="input_username") 
          input(type="submit" ng-click="submitUsername()")
        div(ng-show="username")
          h3 Question
          
          div(ng-show="question")
            div(class="question") {{ question }}
            ul(class="answers")
              li(ng-repeat="answer in answers" ng-click="submitAnswer($index)" ng-class="{highlighted: $index ==clicked , highlighted_correct: answer == correct} ")
                {{ answer }}
          

      div(ng-show="username" class="right-box") 
        h3 Messages        
        div(class="highlight-message") {{ message }}
        div(class="highlight-message") Your score  {{ score }} 
        h3 Leaderboard        
        table
          tr
            th Username
            th Score 
          tr(ng-repeat="player in stats" ng-show="player.username") 
            td {{ player.username }}
            td {{player.score}} 

  script(src="/socket.io/socket.io.js")
  script(src='/javascripts/lib/jquery/jquery-2.0.3.min.js')
  script(src='/javascripts/lib/angular/angular.js')
  script(src='/javascripts/lib/angular/angular-route.js')
  script(src='/javascripts/quiz-angular.js') 
  script(src='/javascripts/quiz-socket.js')       
    