extends layout

block content
  div(ng-app="quizHostApp")
    div(ng-controller="MultiQuizController")
      div(class="left-box")
        h3 Question 
        p(id="quiz_id" ng-hide="true")= quiz_id 
        div(ng-hide="question")
          p(ng-hide="question") link for contestants: http://quiz.mikesirrah.co.uk/multi_quiz
          label Points for the first correct right answer
          input(type="number" ng-model="points.first")
          label Points for any other right answers
          input(type="number" ng-model="points.right")
          label Points for wrong answer
          input(type="number" ng-model="points.wrong")  
        div(ng-hide="question" ng-click="getNextQuestion()" class="quiz_button") Click to start
        div(ng-show="question")
          div(class="question") {{ quiz_params.question_text }}
          div(class="answers") {{ question }}
          ul(class="answers")
            li(ng-repeat="answer in answers" ng-class="{highlighted: $index == clicked , highlighted_correct: answer == correct} ")
              {{ answer }}
          div(class="highlight-message") {{message}}
        div(ng-click="getNextQuestion()" ng-show="question_nos < quiz_params.nos_questions && showNextQn" class="quiz_button") Next question
        div(ng-click="sendResults()" ng-hide="showNextQn" class="quiz_button") Send results
 
      div(class="right-box")
        h3 Players involved
        table(class="host")
          tr
            th Username
            th Score 
            th Message
          tr(ng-repeat="player in stats" ng-show="player.username") 
            td {{ player.username }}
            td {{player.score}} 
            td {{player.message}}
            
        

        //- ul
        //-   li(ng-repeat="player in stats" ng-show="player.username") {{ player.username }}; Score: {{player.score}} : Message: {{player.message}}
        


  script(src="/socket.io/socket.io.js")
  script(src='/javascripts/lib/jquery/jquery-2.0.3.min.js')
  script(src='/javascripts/lib/angular/angular.js')
  script(src='/javascripts/lib/angular/angular-route.js')
  script(src='/javascripts/quiz-angular-host.js') 
  script(src='/javascripts/quiz-socket.js')       
    